@media (min-width: 280px) and (max-width: 914px) {
    #root {
        padding-bottom: 0;
        z-index: 0;
        justify-content: center;
        padding-top: 0;
    }


    .inner {
        width: 100%;
    }


    .main {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .main nav {
        flex: none;
        padding-top: 100px;
    }
    .main nav button {
        width: 240px;
        font: normal 16px Arial;
        padding: 18px 6px;
    }


    footer {
        width: 100%;
    }
    footer.hidden {
        display: none;
    }


    div.top {
        align-items: flex-start;
    }


    .main form {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        background-color: #fff;
        z-index: 2;
    }
    .main form div.inner_inputs input {
        width: 100%;
        padding: 12px 8px;
    }
    .buttons button.add_button:hover {
        background: none;
        color: #000;
    }
    form div.inner_inputs {
        flex-direction: column;
    }


    .main div.search > input {
        padding: 8px 0;
    }


    .main div.daily_block ul {
        justify-content: center;
        order: 3;
    }
    .main div.daily_block ul li button {
        height: 40px;
    }
    .main div.daily_block ul li button:hover {
        background: none;
        color: #000;
    }
    .main div.daily_block ul li.previous-button,
    .main div.daily_block ul li.next-button {
        display: none;
    }
    div.daily_word {
        height: 100%;
        justify-content: center;
        order: 1;
    }

    div.left_buttons {
        flex-wrap: wrap;
    }
    div.left_buttons button:hover {
        background: none;
        color: #000;
    }
}

@media (min-width: 280px) and (max-width: 914px) and (orientation: landscape) {
    footer {
        display: none;
    }


    .inner {
        justify-content: center;
    }


    form {
        padding-bottom: 0;
        height: 100%;
    }
    form div.inner_inputs {
        flex-direction: row;
    }
    form div {
        flex-direction: row;
    }
    form div.inner_inputs input {
        flex: 1;
    }
    .main form textarea {
        height: auto;
        flex: 1;
    }


    .main {
        justify-content: center;
        height: 100%;
        position: relative;
    }
    .main nav {
        padding-top: 0;
        height: auto;
    }
    .main div.unavailable_word_message {
        width: auto;
        position: absolute;
        top: 0;
    }
    .main .top {
        margin-bottom: 15px;
    }


    .main div.words_wrapper {
        height: 100%;
    }


    .main div.daily_block {
        gap: 0;
    }
    .main div.daily_block ul {
        margin-top: 0;
    }
    .main div.daily_word {
        padding-bottom: 55px;
    }


    div.left_buttons.learn_words > * {
        position: absolute;
        top: 0;
        left: 0;
    }
    div.left_buttons.learn_words .listen_button {
        top: 40px;
    }
}

@media (max-height: 300px) and (orientation: landscape) {
    .main nav ul {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
}
