form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
form > * {
    flex: 1 1 auto;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    font: normal 14px Verdana;
}
form > input {
    width: 60px;
}
form > input:focus {
    border: 1px solid gray;
}
form > input.empty {
    border: 1px solid red;
}
textarea {
    vertical-align: top;
    height: 100px;
    resize: none;
    width: 100%;
}
textarea:focus {
    border: 1px solid gray;
}
div.buttons {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
}
button.add_button {
    background-color: white;
    color: #2c2c2c;
    border: 0;
    padding: 6px 0;
    width: 60px;
    border-radius: 4px;
    font: normal 14px Verdana;
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
}
button.add_button:hover {
    border: 1px solid gray;
    background-color: gray;
    color: white;
}