form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
    width: 100%;
}
form > * {
    flex: 1 1 auto;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    font: normal 14px Verdana;
}
form > input {
    width: 60px;
}
form > input:focus {
    border: 1px solid #808080;
}
form > input.empty {
    border: 1px solid #f00;
}


textarea {
    vertical-align: top;
    height: 100px;
    resize: none;
    width: 100%;
}
textarea:focus {
    border: 1px solid #808080;
}
