div.words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-right: 10px;
}
div.words > span {
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 16px;
    user-select: none;
}
div.words > span.select {
    background-color: gray;
    color: white;
    border: 1px solid gray;
}
div.search {
    text-align: center;
    margin: 60px 0 16px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
div.search > input {
    padding: 6px 8px;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    outline: none;
    width: 100%;
}
ul.control {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
}

ul.control button {
    border: 1px solid #ccc;
    font: italic 14px Verdana;
    border-radius: 4px;
    padding: 8px 14px;
    cursor: pointer;
    background: none;
    outline: none;
}
ul.control button:hover {
    background-color: gray;
    border: 1px solid gray;
    color: white;
}
