body,
ul {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.main {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}
.close_button {
  position: absolute;
  right: 0;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 17px;
  background-color: white;
}
.close_button:hover {
  cursor: pointer;
  background-color: gray;
  border: 1px solid gray;
  color: white;
}

nav {
  flex: 1;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}
nav ul li button {
  border: 1px solid #ccc;
  padding: 12px 6px;
  background-color: white;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: gray;
  border: 1px solid gray;
  color: white;
}


footer {
  text-align: center;
  font: italic 14px Consolas;
}
footer > * {
  padding: 4px 0;
}
