html,
body {
  height: 100%;
}

body,
ul {
  padding: 0;
  margin: 0;
}


#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  gap: 100px;
}


.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  width: 100%;
  align-items: center;
  user-select: none;
}


.main {
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 20px;
  margin-top: 170px;
}
div.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: bold 24px Arial;
}

nav {
  height: 100%;
  box-sizing: border-box;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}
nav ul li button {
  border: 1px solid #ccc;
  padding: 12px 6px;
  background: none;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: gray;
  border: 1px solid gray;
  color: #fff;
}
nav ul li button.disable {
  color: #eee;
  border: 1px solid lightgray;
  background-color: #ccc;
  cursor: not-allowed;
}


.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top button {
  font: normal 14px Verdana;
  background: none;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  height: 40px;
  min-width: 60px;
}
.top button:hover {
  background-color: gray;
  color: #fff;
  border: 1px solid gray;
}
.top .left_buttons {
  display: flex;
  gap: 10px;
}


footer {
  text-align: center;
  font: italic 14px Consolas;
}
footer > * {
  padding: 4px 0;
}
footer.hidden {
  visibility: hidden;
}


.theme {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  font-size: 0;
  z-index: 1;
}
.theme svg {
  width: 20px;
  height: 20px;
  display: none;
}
.theme svg.active {
  display: inline-block;
}
.theme svg.sun {
  fill: #fff;
}


div.inner.night {
  background-color: dimgray;
}
.inner.night footer {
  color: #fff;
  background-color: dimgray;
}
.night button,
.night .main div.daily_block ul li button:hover,
.night div.left_buttons button:hover {
  color: #fff;
  border: 1px solid #fff;
}
.night input {
  background: none;
  color: #fff;
}
.night input::placeholder,
.night textarea::placeholder {
  color: #aaa;
}
.night .words {
  background: none;
  color: #fff;
  background-color: dimgray;
}
.night div.words > span.select {
  background-color: #fff;
  color: #000;
}
.night form#add_form,
.night form#add_form textarea {
  background: dimgray;
}
.night form#add_form textarea {
  color: #fff;
}
.night .word {
  color: #fff;
}
.night div.daily_word span.sentence {
  color: #999;
}
.night div.daily_block ul {
  color: #aaa;
}
.night button.disable {
  color: gray;
  border: 1px solid gray;
  background: none;
}
