body,
ul {
  padding: 0;
  margin: 0;
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.main {
  width: 400px;
  box-sizing: border-box;
  height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
div.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: bold 24px Arial;
}


nav {
  flex: 1;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}
nav ul li button {
  border: 1px solid #ccc;
  padding: 12px 6px;
  background-color: white;
  width: 140px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: gray;
  border: 1px solid gray;
  color: white;
}
nav ul li button.disable {
  color: #eee;
  border: 1px solid lightgray;
  background-color: #ccc;
  cursor: not-allowed;
}


.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top button {
  font: normal 14px Verdana;
  background: none;
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  height: 40px;
  min-width: 60px;
}
.top button:hover {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}
.top .left_buttons {
  display: flex;
  gap: 10px;
}


footer {
  text-align: center;
  font: italic 14px Consolas;

  position: fixed;
  bottom: 10px;

}
footer > * {
  padding: 4px 0;
}
footer.hidden {
  visibility: hidden;
}
